<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.AttendanceRecordMapper">

  <resultMap type="AttendanceRecordDto" id="AttendanceRecordMap">
    <id     property="recordNo"   column="RECORD_NO" />
    <result property="recordDate"    column="RECORD_DATE" />
    <result property="timeIn" column="TIME_IN" />
    <result property="timeOut" column="TIME_OUT" />
    <result property="status" column="STATUS" />
    <result property="employeeNo" column="EMPLOYEE_NO" />
  </resultMap>

  <insert id="insertAttendanceRecord"
          parameterType="AttendanceRecordDto">
    INSERT INTO ATTENDANCE_RECORDS_T (
       RECORD_NO
     , RECORD_DATE
     , TIME_IN
     , STATUS
     , EMPLOYEE_NO
    ) VALUES (
        ATTENDANCE_RECORD_SEQ.NEXTVAL
      , #{recordDate}
      , #{timeIn}
      , #{status}
      , #{employeeNo}
    )
  </insert>

  <select id="getAttendanceRecordByemployeeNo"
          resultMap="AttendanceRecordMap">
    SELECT RECORD_NO, RECORD_DATE, TIME_IN, TIME_OUT, STATUS, EMPLOYEE_NO
      FROM ATTENDANCE_RECORDS_T
     WHERE EMPLOYEE_NO = #{employeeNo}
  </select>
  
  
  <update id="updateAttendanceRecord" 
          parameterType="AttendanceRecordDto">
    UPDATE ATTENDANCE_RECORDS_T
       SET
	       RECORD_DATE = #{recordDate}
      <if test="timeIn!=null">, TIME_IN = #{timeIn}</if>
      <if test="timeOut!=null">, TIME_OUT = #{timeOut}</if>
      <if test="status!=0">, STATUS = #{status}</if>
     WHERE RECORD_NO = #{recordNo}
  </update>
  
  <delete id="removeAttendanceRecord">
    DELETE
      FROM ATTENDANCE_RECORDS_T
     WHERE RECORD_NO = #{recordNo}
  </delete>
</mapper>