<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.FolderMapper">

  <resultMap type="FolderDto" id="FolderMap">
    <id     property="folderNo"       column="FOLDER_NO" />
    <result property="FolderName"     column="FOLDER_NAME" />
    <result property="folderCreateDt" column="FOLDER_CREATE_DT" />
    <result property="parentFolderNo" column="PARENT_FOLDER_NO" />
    <association property="employee" javaType="EmployeesDto">
      <id     property="employeeNo"   column="EMPLOYEE_NO" />
      <result property="email"        column="EMAIL" />
    </association>
  </resultMap>
  
  <resultMap type="FileDto" id="FileMap">
    <id     property="fileNo"           column="FILE_NO" />
    <result property="fileUploadPath"   column="FILE_UPLOAD_PATH" />
    <result property="filesystemName"   column="FILESYSTEM_NAME" />
    <result property="originalFilename" column="ORIGINAL_FILENAME" />
    <result property="fileUploadDt"     column="FILE_UPLOAD_DT" />
    <association property="employee" javaType="EmployeesDto">
      <id     property="employeeNo"   column="EMPLOYEE_NO" />
      <result property="email"        column="EMAIL" />
    </association>
  </resultMap>

  <!-- 최상위 폴더(드라이브) 여부 확인 -->
  <select id="getDriveCount"
          resultType="int">
    SELECT COUNT(*)
      FROM FOLDER_T
     WHERE OWNER_NO = #{employee.employeeNo}
       AND PARENT_FOLDER_NO IS NULL
  </select>

  <!-- 드라이브 생성 -->
  <insert id="insertDrive"
          parameterType="FolderDto">
    <selectKey order="BEFORE" keyProperty="folderNo" resultType="int">
      SELECT FOLDER_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO FOLDER_T (
        FOLDER_NO
      , FOLDER_NAME
      , FOLDER_CREATE_DT
      , FOLDER_UPLOAD_PATH
      , PARENT_FOLDER_NO
      , OWNER_NO
    ) VALUES (
        #{folderNo}
      , #{folderName}
      , CURRENT_TIMESTAMP
      , #{folderUploadPath}
      , null
      , #{employee.employeeNo}
    )
  </insert>

  <!-- 파일 업로드 -->
  <insert id="insertFile"
          parameterType="FileDto">
    <selectKey order="BEFORE" keyProperty="fileNo" resultType="int">
      SELECT UPLOAD_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO FILE_T (
        FILE_NO
      , FILE_UPLOAD_PATH
      , FILESYSTEM_NAME
      , ORIGINAL_FILENAME
      , FILE_UPLOAD_DT
      , FOLDER_NO
      , OWNER_NO
    ) VALUES (
        #{fileNo}
      , #{fileUploadPath}
      , #{filesystemName}
      , #{originalFilename}
      , CURRENT_TIMESTAMP
      , #{folderNo}
      , #{employee.employeeNo}
    )
  </insert>
  
  <!-- 폴더 생성 -->
  <insert id="insertFolder"
          parameterType="FolderDto">
    <selectKey order="BEFORE" keyProperty="folderNo" resultType="int">
      SELECT FOLDER_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO FOLDER_T (
        FOLDER_NO
      , FOLDER_NAME
      , FOLDER_CREATE_DT
      , FOLDER_UPLOAD_PATH
      , PARENT_FOLDER_NO
      , OWNER_NO
    ) VALUES (
        #{folderNo}
      , #{folderName}
      , CURRENT_TIMESTAMP
      , #{folderUploadPath}
      , #{parentFolderNo}
      , #{employee.employeeNo}
    )
  </insert>

  <select id="getFolderByMap"
          parameterType="Map"
          resultType="FolderDto">
    SELECT FOLDER_NO, FOLDER_NAME, FOLDER_CREATE_DT, FOLDER_UPLOAD_PATH, PARENT_FOLDER_NO, OWNER_NO
      FROM FOLDER_T
  </select>

</mapper>