<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.FolderMapper">

  <resultMap type="FileDto" id="FileMap">
    <id     property="fileNo"           column="FILE_NO" />
    <result property="fileUploadPath"   column="FILE_UPLOAD_PATH" />
    <result property="filesystemName"   column="FILESYSTEM_NAME" />
    <result property="originalFilename" column="ORIGINAL_FILENAME" />
    <result property="fileUploadDt"     column="FILE_UPLOAD_DT" />
    <result property="ownerNo"          column="FILE_OWNER_NO" />
    <association property="folder" javaType="FolderDto">
      <id     property="folderNo"       column="FOLDER_NO" />
      <result property="folderName"     column="FOLDER_NAME" />
      <result property="folderCreateDt" column="FOLDER_CREATE_DT" />
      <result property="parentFolderNo" column="PARENT_FOLDER_NO" />
      <result property="ownerNo"        column="FOLDER_OWNER_NO" />
    </association>
  </resultMap>

  <!-- 최상위 폴더(드라이브) 여부 확인 -->
  <select id="getDriveCount"
          resultType="int">
    SELECT COUNT(*)
      FROM FOLDER_T
     WHERE OWNER_NO = #{ownerNo}
       AND PARENT_FOLDER_NO IS NULL
  </select>

  <!-- 드라이브 생성 -->
  <insert id="insertDrive"
          parameterType="FolderDto">
    INSERT INTO FOLDER_T (
        FOLDER_NO
      , FOLDER_NAME
      , FOLDER_CREATE_DT
      , FOLDER_UPLOAD_PATH
      , PARENT_FOLDER_NO
      , OWNER_NO
    ) VALUES (
        FOLDER_SEQ.NEXTVAL
      , #{folderName}
      , CURRENT_TIMESTAMP
      , #{folderUploadPath}
      , null
      , #{ownerNo}
    )
  </insert>
  
  <select id="getFolderList"
          resultType="folderDto">
    SELECT FOLDER_NO, FOLDER_NAME, FOLDER_CREATE_DT, FOLDER_UPLOAD_PATH, PARENT_FOLDER_NO, OWNER_NO
      FROM FOLDER_T
  </select>
  
  <select id="getFileList"
          resultMap="FileMap">
    SELECT FI.FILE_NO, FI.FILE_UPLOAD_PATH, FI.FILESYSTEM_NAME, FI.ORIGINAL_FILENAME, FI.FILE_UPLOAD_DT, FI.OWNER_NO, FO.FOLDER_NO, FO.FOLDER_NAME, FO.PARENT_FOLDER_NO
      FROM FILE_T FI INNER JOIN FOLDER_T FO ON FI.FOLDER_NO = FO.FOLDER_NO
     ORDER BY FO.FOLDER_NO
  </select>

  <!-- 파일 업로드 -->
  <insert id="insertFile"
          parameterType="FileDto">
    <selectKey order="BEFORE" keyProperty="fileNo" resultType="int">
      SELECT FILE_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO FILE_T (
        FILE_NO
      , FILE_UPLOAD_PATH
      , FILESYSTEM_NAME
      , ORIGINAL_FILENAME
      , FILE_UPLOAD_DT
      , FOLDER_NO
      , OWNER_NO
    ) VALUES (
        #{fileNo}
      , #{fileUploadPath}
      , #{filesystemName}
      , #{originalFilename}
      , CURRENT_TIMESTAMP
      , #{folder.folderNo}
      , #{ownerNo}
    )
  </insert>
  
  <insert id="insertFolder"
          parameterType="FolderDto">
    INSERT INTO FOLDER_T (
        FOLDER_NO
      , FOLDER_NAME
      , FOLDER_CREATE_DT
      , FOLDER_UPLOAD_PATH
      , PARENT_FOLDER_NO
      , OWNER_NO
    ) VALUES (
        FOLDER_SEQ.NEXTVAL
      , #{folderName}
      , CURRENT_TIMESTAMP
      , #{folderUploadPath}
      , #{parentFolderNo}
      , #{ownerNo}
    )
  </insert>
  
  <!-- Drive(Folder, File) 목록 조회 -->
  <select id="getDriveListCount">
    SELECT COUNT(*)
      FROM (SELECT FOLDER_NO
              FROM FOLDER_T
             WHERE PARENT_FOLDER_NO = #{parentFolderNo}
             UNION ALL
            SELECT FILE_NO
              FROM FILE_T
             WHERE FOLDER_NO = #{parentFolderNo})
  </select>
  
  <select id="getDriveList"
          parameterType="Map"
          resultMap="FileMap">
    SELECT RN
         , FOLDER_NO, FOLDER_NAME, FOLDER_CREATE_DT, FOLDER_UPLOAD_PATH, PARENT_FOLDER_NO, OWNER_NO
         , FILE_NO, FILE_UPLOAD_PATH, FILESYSTEM_NAME, ORIGINAL_FILENAME, FILE_UPLOAD_DT, FILE_OWNER_NO
         , TYPE
      FROM (SELECT ROW_NUMBER() OVER (ORDER BY FOLDER_NO ${sort}) AS RN
                 , FOLDER_NO, FOLDER_NAME, FOLDER_CREATE_DT, FOLDER_UPLOAD_PATH, PARENT_FOLDER_NO, OWNER_NO
                 , NULL AS FILE_NO, NULL AS FILE_UPLOAD_PATH, NULL AS FILESYSTEM_NAME, NULL AS ORIGINAL_FILENAME, NULL AS FILE_UPLOAD_DT, NULL AS FILE_OWNER_NO
                 , 'FOLDER' AS TYPE
              FROM FOLDER_T
             WHERE PARENT_FOLDER_NO = #{parentFolderNo}
            UNION ALL
            SELECT ROW_NUMBER() OVER (ORDER BY FILE_NO ${sort}) AS RN
                 , NULL AS FOLDER_NO, NULL AS FOLDER_NAME, NULL AS FOLDER_CREATE_DT, NULL AS FOLDER_UPLOAD_PATH, FOLDER_NO AS PARENT_FOLDER_NO, NULL AS OWNER_NO
                 , FILE_NO, FILE_UPLOAD_PATH, FILESYSTEM_NAME, ORIGINAL_FILENAME, FILE_UPLOAD_DT, OWNER_NO AS FILE_OWNER_NO
                 , 'FILE' AS TYPE
              FROM FILE_T
             WHERE FOLDER_NO = #{parentFolderNo})
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getfileList"
          resultType="FileDto">
    SELECT FILE_NO, FILE_UPLOAD_PATH, FILESYSTEM_NAME, ORIGINAL_FILENAME, FILE_UPLOAD_DT, FOLDER_NO, OWNER_NO
      FROM FILE_T
     WHERE FILE_NO = #{fileNo}
  </select>
  
  <delete id="deleteFile">
    DELETE
      FROM FILE_T
     WHERE FILE_NO = #{fileNo}
  </delete>

</mapper>