<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.UploadMapper">

  <resultMap type="UploadDto" id="UploadMap">
    <id     property="uploadNo"    column="UPLOAD_NO" />
    <result property="title"       column="TITLE"/>
    <result property="contents"    column="CONTENTS"/>
    <result property="createDt"    column="CREATE_DT"/>
    <result property="modifyDt"    column="MODIFY_DT"/>
    <result property="attachCount" column="ATTACH_COUNT"/>
    <association property="user" javaType="UserDto">
      <id     property="userNo" column="USER_NO"/>
      <result property="email"  column="EMAIL"/>
    </association>
  </resultMap>

  <!-- INSERT 수행 이전에 파라미터 UploadDto의 uploadNo 속성(필드)에 UPLOAD_SEQ.NEXTVAL 값을 저장한다. -->
  <insert id="insertUpload"
          parameterType="UploadDto">
    <selectKey order="BEFORE" keyProperty="uploadNo" resultType="int">
      SELECT UPLOAD_SEQ.NEXTVAL
        FROM DUAL
    </selectKey>
    INSERT INTO UPLOAD_T (
        UPLOAD_NO
      , TITLE
      , CONTENTS
      , CREATE_DT
      , MODIFY_DT
      , USER_NO
    ) VALUES (
        #{uploadNo}
      , #{title}
      , #{contents}
      , TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD HH24:MI:SS')
      , TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD HH24:MI:SS')
      , #{user.userNo}
    )
  </insert>

  <insert id="insertAttach"
          parameterType="AttachDto">
    INSERT INTO ATTACH_T (
        ATTACH_NO
      , UPLOAD_PATH
      , FILESYSTEM_NAME
      , ORIGINAL_FILENAME
      , DOWNLOAD_COUNT
      , HAS_THUMBNAIL
      , UPLOAD_NO
    ) VALUES (
        ATTACH_SEQ.NEXTVAL
      , #{uploadPath}
      , #{filesystemName}
      , #{originalFilename}
      , 0
      , #{hasThumbnail}
      , #{uploadNo}
    )
  </insert>

  <select id="getUploadCount">
    SELECT COUNT(*)
      FROM UPLOAD_T
  </select>
  
  <select id="getUploadList"
          parameterType="Map"
          resultMap="UploadMap">
    SELECT UPLOAD_NO, TITLE, CONTENTS, CREATE_DT, MODIFY_DT
         , USER_NO, EMAIL
         , ATTACH_COUNT
      FROM (SELECT ROW_NUMBER() OVER (ORDER BY UPLOAD_NO ${sort}) AS RN
                 , UP.UPLOAD_NO, UP.TITLE, UP.CONTENTS, UP.CREATE_DT, UP.MODIFY_DT
                 , USR.USER_NO, USR.EMAIL
                 , (SELECT COUNT(*)
                      FROM ATTACH_T ATC
                     WHERE UP.UPLOAD_NO = ATC.UPLOAD_NO) AS ATTACH_COUNT
              FROM USER_T USR INNER JOIN UPLOAD_T UP
                ON USR.USER_NO = UP.USER_NO)
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  <select id="getUploadByNo"
          resultMap="UploadMap">
    SELECT UP.UPLOAD_NO, UP.TITLE, UP.CONTENTS, UP.CREATE_DT, UP.MODIFY_DT
         , USR.USER_NO, USR.EMAIL
      FROM USER_T USR INNER JOIN UPLOAD_T UP
        ON USR.USER_NO = UP.USER_NO
     WHERE UP.UPLOAD_NO = #{uploadNo}
  </select>
  
  <select id="getAttachList"
          resultType="AttachDto">
    SELECT ATTACH_NO, UPLOAD_PATH, FILESYSTEM_NAME, ORIGINAL_FILENAME, DOWNLOAD_COUNT, HAS_THUMBNAIL
      FROM ATTACH_T
     WHERE UPLOAD_NO = #{uploadNo}
  </select>
  
  <select id="getAttachByNo"
          resultType="AttachDto">
    SELECT ATTACH_NO, UPLOAD_PATH, FILESYSTEM_NAME, ORIGINAL_FILENAME, DOWNLOAD_COUNT, HAS_THUMBNAIL
      FROM ATTACH_T
     WHERE ATTACH_NO = #{attachNo}
  </select>
  
  <update id="updateDownloadCount">
    UPDATE ATTACH_T
       SET DOWNLOAD_COUNT = DOWNLOAD_COUNT + 1
     WHERE ATTACH_NO = #{attachNo}
  </update>
  
  <update id="updateUpload"
          parameterType="UploadDto">
    UPDATE UPLOAD_T
       SET TITLE = #{title}
         , CONTENTS = #{contents}
         , MODIFY_DT = TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD HH24:MI:SS')
     WHERE UPLOAD_NO = #{uploadNo}
  </update>
  
  <delete id="deleteAttach">
    DELETE
      FROM ATTACH_T
     WHERE ATTACH_NO = #{attachNo}
  </delete>
  
  <delete id="deleteUpload">
    DELETE
      FROM UPLOAD_T
     WHERE UPLOAD_NO = #{uploadNo}
  </delete>
  
</mapper>