<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.academix.mapper.UserMapper">

  <select id="getUserByMap"
          parameterType="Map"
          resultType="EmployeesDto">
SELECT EMPLOYEE_NO, NAME, EMAIL, PHONE, ADDRESS, DEPARTMENT_NO, RANK_NO, PASSWORD, PROFILE_PICTURE_PATH, EMPLOYEE_STATUS, HIRE_DATE, EXIT_DATE
  FROM EMPLOYEES_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if>
      <if test="password!=null">AND PASSWORD = #{password}</if>
    </where>
  </select>

  <select id="getLeaveUserByMap"
          parameterType="Map"
          resultType="LeaveUserDto">
    SELECT LEAVE_USER_NO
      FROM LEAVE_USER_T
    <where>
      <if test="email!=null">EMAIL = #{email}</if>
    </where>
  </select>

  <insert id="insertUser"
          parameterType="UserDto">
    INSERT INTO USER_T (
        USER_NO
      , EMAIL
      , PW
      , NAME
      , GENDER
      , MOBILE
      , EVENT_AGREE
      , SIGNUP_KIND
      , PW_MODIFY_DT
      , SIGNUP_DT
    ) VALUES (
        USER_SEQ.NEXTVAL
      , #{email}
      , #{pw}
      , #{name}
      , #{gender}
      , #{mobile}
      , #{eventAgree}
      , 0
      , CURRENT_DATE
      , CURRENT_DATE
    )
  </insert>

  <delete id="deleteUser">
    DELETE
      FROM USER_T
     WHERE USER_NO = #{userNo}
  </delete>

  <insert id="insertAccessHistory"
          parameterType="Map">
    INSERT INTO ACCESS_HISTORY_T (
        ACCESS_HISTORY_NO
      , EMAIL
      , IP
      , USER_AGENT
      , SESSION_ID
      , SIGNIN_DT
      , SIGNOUT_DT
    ) VALUES (
        ACCESS_HISTORY_SEQ.NEXTVAL
      , #{email}
      , #{ip}
      , #{userAgent}
      , #{sessionId}
      , CURRENT_DATE
      , NULL
    )
  </insert>
  
  <update id="updateAccessHistory">
    UPDATE ACCESS_HISTORY_T
       SET SIGNOUT_DT = CURRENT_DATE
     WHERE SESSION_ID = #{sessionId} 
  </update>

</mapper>