@charset "UTF-8";

    
    
    .chat-content {
      height: 110vh;
      width: 100%;
      display: flex;
    }
    
    .member-box {
      height: 100%;
      width: 30%;
      max-width: 30rem;
      min-width: 30rem;
      border-top-color: #3c8dbc;
    }
    
    /* 직원 목록 - 검색창 */
    
    .searchInput-cover {
      display: flex;
    }    
    
    
		.searchInput {
	    border: none;
	    background-color: #E6F1F6;
	    border-radius: 4px;
	    padding: 5px;
	    width: 95%;
	    position: sticky;
	    margin: 0.5rem 0 0 1rem;
		}
		
		.searchInput:focus {
		  outline: none;
		}
    
    .chat-box {
	    margin-left: 1.5%;
	    height: 100%;
	    border-top-color: #3c8dbc;
    }
    
    /* 화면 너비가 768px 이하일 때 */
   	@media screen and (max-width: 768px) {
      .chat-box {
        width: 100%;
      }
    }

    /* 화면 너비가 425px 이하일 때 */
    @media screen and (max-width: 425px) {
      .chat-box {
        width: 100%;
      }
    }    
    
    .chat-member {
	    height: 80%;
	    overflow: scroll;
			overflow-x: hidden;	    
    }
    
    .box-title-choice {
      margin-left: 3%;
      font-size: 18px;
    }
    
    .box-title-choice > i {
	    margin-right: 3%;
		}
		
		.remove-box i {
		  font-size: 15px;
		}
    
    .box-tools {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .chat-box-dropdown {
      width: 40vh;
    }
    
    table {
      width: 100%;
    }
    .title-row td {
	    font-size: 18px;
	    font-weight: bold;
	    padding: 10px 20px;
    }
    
    .title-row > p {
	    font-size: 18px;
	    font-weight: 700;
	    padding: 1rem 0 0 2rem;
		}
		
		.menu-row-cover {
	    display: flex;
	    flex-direction: column;
	    padding: 0 0 1rem 2rem;		
		}
    
    .employee-table {
      margin: 20% 10%;
    }
    .employee-row td {
	    font-weight: 500;
      padding: 10px 20px;
    }
    
    .employee-row td:first-child {
      font-size: 15px;
    }
    
    .member-row {
      overflow-x: auto;
      white-space: nowrap;
    }
    
    .tb-menu-row td {
    	font-weight: 500;
    	padding: 10px 20px;
    }
    
    .status {
	    font-size: 12px;
	    text-align: end;
    }
    .online {
      color: green;
    }
    .offline {
      color: red;
    }
    
    .leave-chat,
    .modify-chatTitle {
      color: black;
      cursor: pointer;
    }
    
    /* 두번째 채팅 아이콘 */
    .box-title-choice i:nth-child(2) {
      color: #B5B5B5;
    }
    
    /* 모달창 */
    .chat-modal-profile {
      text-align: center;
    }
    
    .chat-modal-profile > p {
      font-size: 24px;
      padding: 10px 0;
    }
    
    .chat-box-title > span {
      font-size: 18px;
      font-weight: 600;
    }
    
    .chat-box-title > span:nth-of-type(2) {
	    margin: 1px 0 0 2rem;
	    font-size: 16px;
	    font-weight: 400;
	    color: #aaa;
		}
    
    .btn-oneToOneChat {
	    margin-top: 3%;
	    cursor: pointer;
		}
    
    .chat-member-title {
			font-size: 20px;
	    font-weight: 800;
			padding: 1rem 0 0 1rem;
	    margin: 0;
    }    
    
    .chat-box-title {
      display: flex;
    }
    
		.btn-oneToOneChat i {
	    font-size: 23px;
		}
		
		.box-header {
		  position: sticky;
		}
		
		
		
		
		/* 단체 채팅방 생성 모달 */
		.selected-member-cover {
			display: grid;
	    grid-template-columns: repeat(4, 1fr);
	    gap: 10px;
	    max-height: 200px;
	    /* min-height: 200px; */
	    overflow-y: auto;
    	padding: 2rem 0 0 0;
		}		
		
		.selected-member-cover > p {
	    background-color: #F2F5F6;
	    margin: 0;
	    padding: 0px;
	    text-align: center;
	    font-size: 13px;
	    line-height: 50px;
		}
		
		.newGroupChatroom-input {
		  margin: 4rem 0 0 0;
		}
		
		/* 메시지 */
/* 		.message-body {
	    padding: 2%;
		}
		
		.message-body > div {
    	padding: 2%;
		} */
		
		.chat-body {
		  height: 90%;
		  overflow: auto;
		}
		
		
		.chatMessage-main {
		  display: flex;
      flex-direction: column;
		}
		
		.chatMessage-contents {
		  max-width: 700px;
		}
		
		.chatMessage-main {
	    display: flex;
	    flex-direction: column;
	    margin-left: auto;
			}
			
		/* 받은 메시지 */
		
		.chatMessage-you {
	    padding: 2%;
		}
		
		.chatMessage-you .chatMessage-content {
			background-color: #F0F4F6;
		  border-top-left-radius: 20px;
		  border-top-right-radius: 20px;  
		  border-bottom-right-radius: 20px; 
		  padding: 2%;
		  display: inline-block;
		}
		
		.chatMessage-profile > img {
    	margin-right: 0.8%;
		}
		
		.chatMessage-senderName {
		    font-size: 13px;
		    font-weight: 500;
		    margin-bottom: 0.5%;
		}
		
		.hit-count {
      font-size: 10px;
      color: #5B9BCA;
		}
		
		.chatMessage-time {
		  width: 65px;
		  font-size: 11px;
		}
		
		/* 보낸 메시지 */
		
		.chatMessage-me .chatMessage-content {
			background-color: #3c8dbc;
		  border-top-left-radius: 20px;
		  border-top-right-radius: 20px;  
		  border-bottom-left-radius: 20px; 
		  padding: 1.5rem;
		  color: white;
      display: inline-block;
		}
		
		.chatMessage-me {
	    padding: 2%;
	    width: 100%;
	    display: flex;
		}
		
		.chatMessage-input {
			display: flex;
	    position: absolute;
	    bottom: 2%;
	    left: 50%;
	    transform: translateX(-50%);
	    width: 100%;
	    padding: 0 1rem;
		}
		
		.chatMessage-me .chatMessage-info {
		  display: flex;
		} 
		
		.chatMessage-me .chatMessage-time {
		  margin-left: auto;
		  text-align: end;
		}
		
		.chatMessage-me .chatMessage-contents {
		  margin-left: auto;
		}
		
		.date-divider {
      background-color: #F0F4F6;
	    text-align: center;
	    padding: 6px;
	    border-radius: 15px;
	    max-width: 150px;
	    margin: 0 auto;
	    font-size: 1.15rem;
	    color: #707070;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
		}
		
		.joinChatMessage {
			background-color: #F0F4F6;
	    text-align: center;
	    padding: 6px;
	    border-radius: 15px;
	    max-width: 780px;
	    margin: 0 auto;
	    font-size: 1.18rem;
	    color: #707070;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
		}
		
		.leaveChatMessage {
			background-color: #F0F4F6;
	    text-align: center;
	    padding: 6px;
	    border-radius: 15px;
	    max-width: 400px;
	    margin: 0 auto;
	    font-size: 1.18rem;
	    color: #707070;
	    margin-top: 1rem;
	    margin-bottom: 1rem;
		}
		
		/* 채팅 목록 */
		
		
		.chatroom-main {
	    padding: 1rem;
	    height: 60px;
	    cursor: pointer;
		}
		
		.chatroom-main:focus {
		  background-color: #F0F4F6;
		}
		
		.chatroom-profile-main {
	    display: flex;
	    line-height: 40px;
	    width: 85%;
		}
		
		.chatroom-profile-title {
	    font-size: 16px;
	    font-weight: 500;
	    width: 100%;
	    margin-left: 5%;		
		}
		
		.chatroom-profile-participant {
			color: #8B8D8F;
		}
		
		.addChatroomBtn-cover {
		  position: relative;
		  display: flex;
		}
		
		.addChatRoomBtn {
			position: absolute;
	    left: 1rem;
	    /* top: 50%; */
	    /* transform: translate(-50%, -50%); */
	    width: 90%;
    	/* margin: 1rem 0 0 0; */
    	
      bottom: -19px;
    	margin: 0 auto;
		}
		
		
		
		.tab-content > .tab-pane:not(.active) {
		    display: block !important;
		    height: 0 !important;
		    overflow-y: hidden !important;
		}
		
		.collapse:not(.show) {
		    display: block;
		    height: 0;
		    overflow-y: hidden;
		}

		/* 화면 작아졌을 때 */
/*  		@media (max-width: 900px) {
		    .member-box {
	        width: 100%;
          max-width: 50rem;
	        display: block;
		    }
		
 		    .chat-box {
	        display: none;
		    } 
		
		    .chat-box.active {
	        display: block;
	        width: 100%;
		    }
		
		    .member-box.hidden {
		        display: none;
		    }
		}		 */ 
		
		.participant-body-row {
	    overflow: auto;
	    overflow-x: hidden;
	    max-height: 220px;
		}
		
		/* 메신저 알림창 */
		.notification-item img {
      margin: 6px 10px auto auto;
    	width: 20px;
   	 	height: 20px;
		}
		
		/* 읽음 여부 */
		.chatMessage-me .chatMessage-count {
			font-size: 10px;
	    vertical-align: bottom;
	    color: #188EC9;
		}
		
		.chatMessage-you .chatMessage-count {
	    font-size: 12px;
	    vertical-align: bottom;
	    margin-right: 0px;
	    color: #188EC9;
		}
		
				
		.contacts-list > li {
		  border: none;
		}
		
		.contacts-list > li:hover {
		    background-color: aliceblue;
		}
		
		.contacts-list > li:active,
		.contacts-list > li:focus {
		    background-color: aliceblue; /* 눌렀을 때 배경색 */
		}
		
		.direct-chat-img {
	    border-radius: 0 0 50% 50%;
	    width: 32px;
	    height: 30px;
		}

		
		
		
		
