@charset "UTF-8";

/* 메신저 알림창 */

.notification-item img {
  margin: 6px 10px auto auto;
  width: 20px;
  height: 20px;
}

.btn-removeMessageAlert {
  width: 20px;
  height: 20px;
  text-align: center;
}