@charset "UTF-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #333333;
  padding: 0;
  margin: 0;
}

body, div, ul, li, ol, dl, dt, dd {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333333;
}

i {
  color: #333333;  
}

ul, ol {
  list-style-type: none;
}